html {
  height: 100%;
}
body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
#root {
  line-height: 0px;
  height: 100%;
  width: 100%;
}
#color {
  z-index:;
  color: white;
}
#select {
  position: relative;
  
  top: 0;
  right: 0;
  width: var(--controlWidth);
  height: calc(var(--h) * .2);
  max-width: 200px;
}
#controls {
  width: var(--controlWidth);
 display: grid;
  max-width: 200px;
  justify-content: center;
  text-align: center;
  align-content:stretch;
  background-color: rgba(00,00,00,.3);
}
.pieces {
  height: calc(var(--h)/var(--size));
  width: calc(var(--h)/var(--size));
  background-color: white;
  line-height: 0px;
  margin: 0;
  padding: 0;
  border: .5px dashed black;
  touch-action: none;
  
}
#gameBoard {
  box-sizing: border-box;
  height: calc(var(--h));
  width: calc(var(--h));
 
  
  border: none;

  line-height: 0px;
  margin: 0;
  padding: 0;
}
#main {
  display: flex;
  margin: 0;
  padding: 0;
   
  }
  #gridToggle {
    position: relative;
    width: 100%;
    height: 30px;
    border: 3px dashed black;
    color: black;
    border-radius: 10px;
    }
@media only screen and (max-width: 600px) {
  #select {
    
    width: calc(var(--w) * .2);
    height: calc(var(--h) * .1);
    
  }
  #main {
    display: block;
  }
  #gameBoard {
    
    height: calc(var(--w));
    width: calc(var(--w));
  }
  .pieces {
    height: calc(var(--w)/var(--size));
    width: calc(var(--w)/var(--size));
  }
  #controls {
    width: 100vw;
    display: grid;
    grid-template: 50fr 50fr / 25fr 25fr 25fr;
    max-width: none;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: rgba(00,00,00,.3);
    height: 100px;
  }
  #gridToggle {
    grid-area: 1 / span 1 / 1 / span 1;
    
  }
}


:root {
  --h: 100vh;
  --w: 100vw;
  --size: 10;
  --controlWidth: calc(100vw - 100vh);
}



